#iconsContainer{
    display: flex;
  width: 100%;
  margin-bottom: 15px;
}
#icons{
    padding: 10px;
  background: rgb(61, 61, 61);
  color: white;
  min-width: 50px;
  text-align: center;
}
#container{
  width:fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 3px;
    box-shadow: 10px 10px 18px 15px

}